streamlit
sentence-transformers
faiss-cpu
numpy
scikit-learn
python-dotenv
pymongo
passlib[bcrypt]==1.7.4
bcrypt>=4.1.2,<5
easyocr>=1.7.2
groq
apscheduler
email-validator
faster-whisper>=1.0.0
ffmpeg-python>=0.2.0
easyocr
pytesseract
opencv-python-headless
pdfminer.six
pypdf
python-magic
yt-dlp>=2025.1.1
