streamlit
sentence-transformers
faiss-cpu
numpy
scikit-learn
python-dotenv
pymongo
passlib==1.7.4
bcrypt==4.0.1
groq
apscheduler
email-validator
faster-whisper
ffmpeg-python
easyocr
pytesseract
opencv-python-headless
pdfminer.six
pypdf
python-magic

